<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    ____________$$$$$___________________________$$$$$<br>
    ___________$_____$_________________________$_____$<br>
    __________$_______$_______________________$_______$<br>
    _________$________$_______________________$________$<br>
    ________$__________$_____$$$$$$$$$$$_____$__________$<br>
    _______$___________$_$$$$___________$$$$_$___________$<br>
    ______$___________$$___________________$$____________$<br>
    ______$__________$$_______________________$$__________$<br>
    ______$_________$$_________________________$$_________$<br>
    ______$________$_____________________________$________$<br>
    ______$________$_____________________________$________$<br>
    _______$______$_______________________________$______$<br>
    _______$_____$_________________________________$_____$<br>
    ________$___$___________________________________$___$<br>
    _________$$$$___________________________________$$$$<br>
    ___________$__________________________$$$$$$_____$<br>
    ___________$_________________________$______$____$<br>
    ___________$_________________________$______$____$<br>
    ___________$_____$$$$$$______________$__$$__$____$<br>
    ___________$____$$$$$_$$_____________$_$0$$_$____$<br>
    ___________$_______________$$$$$$$___$$$$$$$$____$<br>
    ___________$______________$$$$$$$$$___$$$$$$_____$<br>
    ____________$____________$$$$$$$$$$$____________$<br>
    _____________$____________$$$$$$$$$____________$<br>
    ______________$____________$$$$$$$____________$<br>
    _______________$____________$$$$$____________$<br>
    ________________$_____________$_____________$<br>
    _________________$________$___$___$________$<br>
    _________________$$________$$$_$$$________$$<br>
    _______________$__$_____________________$__$<br>
    ______________$____$$$$$$$_______$$$$$$$____$<br>
    _____________$____$$$$$$$$$$___$$$$$$$$$$____$<br>
    ____________$______$$$$$$$$$$$$$$$$$$$$$______$<br>
    ___________$_______$$$$$$$$$$$$$$$$$$$$$_______$<br>
    ___________$_________$$$$$$$$$$$$$$$$$$________$<br>
    ___________$__________$$$$$$$$$$$$$$$$_________$<br>
    ___________$___________$$$$$$$$$$$$$$__________$<br>
    ____________$___________$$$$$$$$$$$$___________$<br>
  </body>
</html>
